:root{
    --branco: #fff
}

.main-login{
    display: flex;
    align-items: center;
    width: 100%;
}

.img1{
    width: 45%;
}

.img2{
    width: 30%;
}

.form{
    display: flex;
    flex-direction: column;
}

.conteudoLogin{
    display: flex;
    flex-direction: column;
    width: 40%;
}

.conteudoLogin h2{
    color: var(--branco);
    font-size: 3.5vw;
    font-family: "Meow Script", cursive;
    margin-bottom: 3px;
}

.conteudoLogin p{
    color: var(--branco);
    margin-bottom: 30px;
    font-family: "Inter", sans-serif;
    font-weight: 200;
}

.conteudoLogin h3{
    color: var(--branco);
    font-family: "Inter", sans-serif;
    margin-bottom: 13px;
    font-size: 1.2vw;
}

.conteudoLogin input{
    margin-bottom: 20px;
    border: 1px solid var(--branco);
    background-color: transparent;
    padding: 13px;
    outline: none;
    font-family: "Inter", sans-serif;
    font-size: 1vw;
    font-weight: 300;
    color: var(--branco);
}

input::placeholder{
    color: #d9d9d9;
}

.conteudoLogin button{
    background: transparent;
    border: 1px solid var(--branco);
    padding: 10px;
    font-size: 1.5vw;
    margin-top: 5px;
    color: var(--branco);
}

.conteudoLogin button:hover{
    border: 3px solid var(--branco); 
    transition: 0.1s ease;
}

.conteudoLogin button:active {
    transform: translateY(-2px);
}

.error-message{
    text-align: center;
    margin-top: 20px;
    font-size: 1.2vw;
}