:root{
    --branco: #fff;
}

.centralizando{
    text-align: center;
}

.conteudo{
    width: 1440px;
    margin: 40px auto;
    max-width: 90%;
}

.conteudo h2{
    color: var(--branco);
    font-family: "Meow Script", cursive;
    font-size: 4vw;
    position: absolute;
    top: 35%;
    left: 50%;
}

.imgPrincipal{
    margin-right: 40%;
}

.texto-conteudo{
    position: absolute;
    top: 50%;
    left: 39%;
    padding: 7vw 5vw;
    width: 30vw;
    background-color: rgba(211, 205, 205, 1);
    border-radius: 5px;
}

.texto-conteudo h3{
    font-size: 1.9vw;
    font-weight: 800;
    font-family: "DM Serif Text", serif;
    margin-bottom: 27px;
}

.texto-conteudo p{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 23px;
    font-size: 1.2vw;
    text-align: left;
}

.planta-enfeite{
    position: absolute;
    top: 85%;
    left: 65%;
}

.melhores-produtos{
    color: var(--branco);
    text-align: center;
    width: 1440px;
    margin: 40px auto;
    max-width: 90%;
    padding: 60px 0;
}

.text-melhores-produtos{
    width: 50%;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
}

.text-melhores-produtos h2{
    font-weight: 800;
    font-family: "DM Serif Text", serif;
    font-size: 2.5vw;
    margin-bottom: 15px;
}

.text-melhores-produtos p{
    font-size: 1.2vw;
    font-weight: 100;
    margin-bottom: 16px;
    font-family: "Inter", sans-serif;
}

.text-melhores-produtos button{
    background: transparent;
    border: 1px solid #fff;
    padding: 6px 12px;
    font-size: 1.3vw;
}

.text-melhores-produtos button:hover{
    border: 3px solid var(--branco);
    transition: 0.4s;
}

.melhores-produtos-img{
    margin-top: 90px;
}