:root{
    --branco: #fff;
}

.footer{
    color: var(--branco);
    display: flex;
    justify-content: space-between;
    width: 1440px;
    margin: 20px auto;
    align-items: center;
    max-width: 90%;
    font-family: "Inter", sans-serif;
    font-weight: 200;
}

.conteudo-direita img{
    margin-bottom: 16px;
}

.conteudo-direita p{
    margin-bottom: 18px;
    font-size: 1.1vw;
}

.infos{
    text-align: right;
    font-weight: 200;
}

.infos p{
    margin-bottom: 10px;
    font-size: 1.1vw;
}

.copyright{
    width: 100%;
    text-align: center;
    background-color: #9c1b1b;
    font-family: Inter, sans-serif;
    font-weight: 200;
    padding: 1.1vw 0;
    color: #fff;
}

span {
    font-weight: 300;
    color: #ffffffbd;
}