:root{
    --branco: #fff;
}  

body{
    overflow-x: hidden;
}

.Banner-inicial{
    color: var(--branco);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1440px;
    margin: 0 auto;
    max-width: 90%;
    font-family: "DM Serif Text", serif;
}

.textos-home{
    width: 95%;
}

.textos-home h1{
    font-size: 4vw;
    margin-bottom: 50px;
}

.textos-home button{
    background: transparent;
    border: 1px solid var(--branco);
    padding: 13px 24px;
    font-size: 1.6vw;
}

.textos-home button:hover{
    border: 3px solid white;
    transition: 0.1s ease;
}

.img-banner img{
    width: 1100px;
    z-index: 1;
}

main{
    color: #fff;
    width: 1440px;
    margin: 0 auto;
    max-width: 85%;
}

.texto-menu{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.texto-menu h2{
    width: 40%;
    font-family: "Meow Script", cursive;
    font-size: 4vw;
}

.texto-menu p{
    width: 35%;
    font-family: "DM Serif Text", serif;
    font-size: 1.3vw;
    line-height: 32px;
}

.pratos-menu{
    margin-top: 60px;
}

.prato{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.prato h2{
    font-family: "Meow Script", cursive;
    font-size: 2.8vw;
    margin-bottom: 25px;
}

.prato p{
    font-family: "DM Serif Text", serif;
    font-size: 1.5vw;
    /* width: 65%; */
    margin-bottom: 25px;
}

.imagem-menu{
    width: 90%;
}

.text-cardapio button{
    background: transparent;
    border: 1px solid #fff;
    padding: 13px 28px;
    font-size: 1.3vw;
}

.text-cardapio button:hover{
    border: 3px solid white;
    transition: 0.1s ease;
}